<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SINU TUCN Application</title>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.2.0/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.1/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.1/jquery.min.js}"></script>
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" media="screen" />
</head>
<body>
    <img src="../static/assets/UTCN_2_EN.css" th:src="@{/assets/UTCN_2_EN.png}" height="150" class="center">
    <h2 class="center"> SINU </h2>
    <a href="./student" type="button" class="btn btn-danger center custom" role="button">Student Login</a>
    <br>
    <a href="./teacher" type="button" class="btn btn-danger center custom" role="button">Teacher Login</a>
</body>
</html>