<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SINU TUCN Student</title>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.2.0/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.1/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.1/jquery.min.js}"></script>
    <link href="../static/css/student.css" th:href="@{/css/student.css}" rel="stylesheet" media="screen" />
    <script src="../static/js/student.js" th:src="@{/js/student.js}"></script>
</head>
<body>
    <img src="../static/assets/UTCN_2_EN.css" th:src="@{/assets/UTCN_2_EN.png}" th:height="150" th:class="center">
    <h2 th:class="center">SINU</h2>
    <p th:class="center" th:text="'Hello ' + ${studentInfo.name} + '!'"> </p>
    <h3 ></h3>
    <!-- Tab links -->
    <div th:class="tab">
        <button th:class="tablinks" onclick="openOperation(event, 'edit_profile')">Edit profile</button>
        <button th:class="tablinks" onclick="openOperation(event, 'enroll_course')">Enroll course</button>
        <button th:class="tablinks" onclick="openOperation(event, 'register_exam')">Register exam</button>
    </div>

    <!-- Tab content -->
    <div th:id="edit_profile" class="tabcontent">
        <form action="/student/edit" th:method="post">
        <p>Name: <input th:type="text" th:name="name" th:value="${studentInfo.name}"/></p>
        <p>CNP: <input th:type="text" th:name="CNP" th:value="${studentInfo.CNP}"/></p>
        <p>Group: <input th:type="text" th:name="group" th:value="${studentInfo.group}"/></p>
        <p>Email: <input th:type="text" th:name="email" th:value="${studentInfo.email}"/></p>
        <p>Username: <input th:type="text" th:name="username" th:value="${studentInfo.username}"/></p>
        <p>Address: <input th:type="text" th:name="address" th:value="${studentInfo.address}"/></p>
        <p>Password: <input th:type="text" th:name="password" th:value="${studentInfo.password}"/></p>
        <p><button th:type="submit" th:class="btn-danger">SAVE CHANGES</button>
                <button th:type="reset" th:class="btn-danger">REVERT CHANGES</button></p>
        </form>
    </div>

    <div th:id="enroll_course" th:class="tabcontent" class="form-group blu-margin" th:object="${to_enroll_courses}">
        <form action="/student/enroll" th:method="post">
            <select class="form-control" name="courseId" >
                <option value="0"></option>
                <option th:each="course : ${to_enroll_courses}"
                        th:value="${course.id}"
                        th:text="${course.name}">
                </option>
            </select>
            <p></p>
        <p><button th:type="submit" th:class="btn-danger">ENROLL COURSE</button></p>
        </form>
        <h1>Enrolled Courses:</h1>
        <div th:if="${courses != null}">
            <ul>
                <th:block th:object="${course}">
                    <li th:each="course : ${courses}" th:text="${course.name + ' ' + course.startDate + ' ' + course.endDate + ' ' + course.teacher.name}"></li>
                </th:block>
            </ul>
        </div>
    </div>


    <div th:id="register_exam" th:class="tabcontent" class="form-group blu-margin" th:object="${to_register_exams}">
        <form action="/student/register" th:method="post">
            <select class="form-control" name="examId" >
                <option value="0"></option>
                <option th:each="exam : ${to_register_exams}"
                        th:value="${exam.id}"
                        th:text="${exam.course.name + ' ' + exam.course.date}">
                </option>
            </select>
            <p></p>
            <p><button th:type="submit" th:class="btn-danger">REGISTER EXAMS</button></p>
        </form>
        <h1>Registered exams:</h1>
        <div th:if="${exams != null}">
            <ul>
                <th:block th:object="${exam}">
                    <li th:each="exam : ${exams}" th:text="${exam.course.name + ' ' + exam.date + ' ' + exam.room + ' ' + exam.course.teacher.name}"></li>
                </th:block>
            </ul>
        </div>
</body>
</html>

